/* This style sheet completed by Leah*/

/* colors
Eggplant - #4b1f42
Chewed Gum - #ED65B3
Asparagus - #40721d
Inch Worm - #d1fe26
Butter - #FFED65
Midnight - #01116c
Electric Blue - #1F8FFB
*/

* {
  box-sizing: border-box;
}

/* index nav bar--------------------------------------------------*/

.nav{
	position: fixed;
	top: 0;
	width:100%;
	font-family:'Roboto Slab';
	background:#01116c;
}

.nav a {
	float: left;
	color: #1F8FFB;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.nav a:hover {
	background-color:#1F8FFB;
	color:#01116c;
}


/* content styling--------------------------------------------*/


#contentWrapper{
	margin:50px;
}

h1 {
	font-family:'Alfa Slab One', cursive;
	font-size:54px;
}

h2 {
	font-family:'Roboto Slab', serif;
	font-size:28px;
}


/* column styling for layout---------------------------------*/

.column {
	float: left;
	padding: 10px;
}

.narrow {
	width: 15%;
}

.wide {
	width: 85%;
}

.profile {
	position:relative;
	top:40px;
	left:75px;
}

/* clear floats after the columns ---------------------------*/

.row:after {
	content: "";
	display: table;
	clear: both;
}