/* This style sheet completed by Leah*/

/* colors
Eggplant - #4b1f42
Chewed Gum - #ED65B3
Asparagus - #40721d
Inch Worm - #d1fe26
Butter - #FFED65
Midnight - #01116c
Electric Blue - #1F8FFB
*/

* {
  box-sizing: border-box;
}

/* index nav bar--------------------------------------------------*/

.nav{
	position: fixed;
	top: 0;
	width:100%;
	font-family:'Roboto Slab';
	background:#01116c;
}

.nav a {
	float: left;
	color: #1F8FFB;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.nav a:hover {
	background-color:#1F8FFB;
	color:#01116c;
}


/* content styling--------------------------------------------*/


#contentWrapper{
	margin:50px;
}

h1 {
	font-family:'Alfa Slab One', cursive;
	font-size:54px;
}

h2 {
	font-family:'Roboto Slab', serif;
	font-size:28px;
}


/* flex styling for main page layout----------------------------*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: 48%;
  height: 100%;
  margin-bottom: 2%;
}

.item:nth-child(3n) {
  width: 100%;
}


/* grid styling for blog layout---------------------------------*/

.grid-container {
	display: grid;
	column-gap: 15px;
	row-gap: 50px;
}
.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.item2 {
  grid-column-start: 3;
  grid-column-end: 5;
}

